.uno{
    background-color: sandybrown;
    height: 400px;
    width: 400px;
    position: static
}



.dos{
    background-color:blueviolet;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.tres{
    background-color:yellow;
    height: 100px;
    width:  100px;
    position: absolute;
}


/*

.uno,dos,tres{
background:#ccc;
heigt:100px;
width:100px;

}